.body-container {
    position: relative;
    top: 100px;
}

#userlist-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 50%;
    position: relative;
    top: 100px;
    font-size: larger;
}

#create-btn{
    background: #ffffff none repeat scroll 0 0; 
     border: 1px solid #aa8d56; 
     color: #3785f3; 
     outline: medium none; 
     padding: 15px; 
     text-decoration: none;
     width: 110px;
}

#submit-btn{
    position: relative;
    left: 570px;
    top: 100px;
    background: #ffffff none repeat scroll 0 0; 
     border: 1px solid #aa8d56; 
     color: #3785f3; 
     outline: medium none; 
     padding: 15px; 
     text-decoration: none;
     width: 80px;
}